.leanbeanfont {
  font-size: 1.7em;
}
.disturbancefont {
  font-size: 3em;
}
.bigfont {
  font-size: 2em;
}
.medfont {
  font-size: 1.5em;
}
.regularfont {
  font-size: .7em;
}
.smaller .remark-code .remark-code-line {
  font-size: 0.9em;
}
.smaller {
  font-size: 0.9em;
}

.deleted {
  /*text-decoration: line-through;*/
  position: relative;
}
.deleted::after {
    border-bottom: 5px solid black;
    content: "";
    left: -4px;
    position: absolute;
    right: -4px;
    top: 50%;
}
.slide-badge {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 1px black solid;
  -ms-transform: rotate(-7deg); /* IE 9 */
  -webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
  transform: rotate(-7deg);
}
.slide-emph-max {
  color: white;
  background-color: black;
}
.slide-emph-mid {
  background-color: #00d56b;
}
.slide-emph-happy {
  background-color: #66ccff;
}
.slide-emph-happy h1 {
  color: black;
  text-shadow: 0 0 10px white;
  font-weight: bold;
  font-size: 5em;
}
.slide-emph-happy h2 {
  color: #FFF;
}

.dimmed {
  color: #AAA;
}

.btw {
  font-size: .65em;
  color: #444;
}
.bottom-remark {
  font-size: 0.5em;
  color: gray;
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  padding: 1em;
}

.speech {
  background-color: white;
  border-radius: 1em;
  padding: 0.5em;
  border: 1px black solid;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  font-family: 'Architects Daughter';
}

.speech-left {
  border-bottom-left-radius: 0.2em;
}

.speech-right {
  border-bottom-right-radius: 0.2em;
}

.problem {
  font-size: 3em;
  font-weight: bold;
  color: red;
  margin: 2em 0;
 -webkit-animation: throbeText 0.5s linear infinite alternate; /* Chrome, Safari, Opera */
  animation: throbeText 0.5s linear infinite alternate;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes throbeText {
    from {text-shadow: 0 0 0px #FFF;}
    to {text-shadow: 0 0 10px #FF0;}
}

/* Standard syntax */
@keyframes throbeText {
    from {text-shadow: 0 0 0px #FFF;}
    to {text-shadow: 0 0 10px #FF0;}
}
/* Remark Overrides */
.hljs-keyword {
  color: blue;
}

.remark-code-line-highlighted {
  background-color: #FFF;
}
.remark-inline-code {
  font-size: 0.8em;
}
